body{
	background: #00267f;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    font-variant: small-caps;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-default {
    background: #ffc726;
    color: black;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #DEE1B6;
}

img {
	width:70%;
	height: auto;
}

.image {
	text-align: center;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.image:hover {
	text-align: center;
	padding-top: .5%;
	padding-bottom: 2.5%;
}

.col-md-12 {
	text-align:center;
}

.text {
	text-align:left;
}

p, label {
	color:white;
}